<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular-file-data-url Test Suite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootswatch/3.2.0.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css">
    <style>
        .spaced {
            margin-top: 12px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <span class="fa fa-photo"></span>
                AngularJS Online Image Encoder
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/demo">Demo</a></li>
                <li><a href="#/docs">Docs</a></li>
                <li>
                    <a href="https://github.com/BitolaCo/angular-file-data-url">
                        <span class="fa fa-github"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-view></div>
</div>
<script type="text/ng-template" id="/demo.html">
    <div class="page-header">
        <p>
            <em>
                This is a demo of all 538 bytes of the AngularJS module
                <a href="https://github.com/BitolaCo/angular-file-data-url">file-data-url</a>.
                All the encoding is done in your browser. No image data is uploaded.
            </em>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="hideOptions = ! hideOptions">
                        <span class="pull-right">
                            <span ng-show="hideOptions">
                                <span class="fa fa-caret-up"></span>
                            </span>
                            <span ng-hide="hideOptions">
                                <span class="fa fa-caret-down"></span>
                            </span>
                        </span>

                    <h3 class="panel-title">
                        <span class="fa fa-gears"></span>
                        Options
                    </h3>
                </div>
                <div class="panel-body" ng-hide="hideOptions">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row spaced">
                                <div class="col-sm-4">File</div>
                                <div class="col-sm-8">
                                    <input type="file"
                                           class="form-control"
                                           ng-file
                                           ng-model="image.src"
                                           ng-format="{{ image.format }}"
                                           ng-quality="{{ image.quality }}"
                                           ng-max-width="{{ image.width }}"
                                           ng-max-height="{{ image.height }}">
                                </div>
                            </div>
                            <div class="row spaced">
                                <div class="col-sm-4">Type</div>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <button class="btn btn-default"
                                                ng-class="{'active': image.format === 'image/webp'}"
                                                ng-click="image.format = 'image/webp'">
                                            WebP
                                        </button>
                                        <button class="btn btn-default"
                                                ng-class="{'active': image.format === 'image/jpeg'}"
                                                ng-click="image.format = 'image/jpeg'">
                                            JPEG
                                        </button>
                                        <button class="btn btn-default"
                                                ng-class="{'active': image.format === 'image/png'}"
                                                ng-click="image.format = 'image/png'">
                                            PNG
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="row spaced">
                                <div class="col-sm-4">Max Height</div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="heightSmaller()">
                                                <span class="fa fa-minus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <input ng-model="image.height" type="range" step="1" min="1" max="5000">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="heightLarger()">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-2">
                                            {{ image.height }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row spaced">
                                <div class="col-sm-4">Max Width</div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="widthSmaller()">
                                                <span class="fa fa-minus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <input ng-model="image.width" type="range" step="1" min="1" max="5000">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="widthLarger()">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-2">
                                            {{ image.width }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row spaced">
                                <div class="col-sm-4">Quality</div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="lowerQuality()">
                                                <span class="fa fa-minus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="range" ng-model="image.quality" step="0.01" min="0" max="1">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-xs" ng-click="higherQuality()">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-2">
                                            {{ image.quality * 100 | number:0 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="hide.image = ! hide.image">
                    <span class="pull-right">
                        <span ng-show="hide.image">
                            <span class="fa fa-caret-up"></span>
                        </span>
                        <span ng-hide="hide.image">
                            <span class="fa fa-caret-down"></span>
                        </span>
                    </span>

                    <h3 class="panel-title">
                        <span class="fa fa-photo"></span>
                        Image
                    </h3>
                </div>
                <div class="panel-body" ng-hide="hide.image">
                    <p ng-hide="image.src">No image selected</p>
                    <img ng-show="image.src" ng-src="{{ image.src }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="hide.data = ! hide.data">
                        <span class="pull-right">
                            <span ng-show="hide.data">
                                <span class="fa fa-caret-up"></span>
                            </span>
                            <span ng-hide="hide.data">
                                <span class="fa fa-caret-down"></span>
                            </span>
                        </span>

                    <h3 class="panel-title">
                        <span class="fa fa-file-code-o"></span>
                        Model Data
                        <small>({{ image.src.length || 0 }} chars)</small>
                    </h3>
                </div>
                <div class="panel-body" ng-hide="hide.data">
                    <p ng-hide="image.src">No image selected</p>
                    <pre ng-show="image.src">{{ image.src }}</pre>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="/docs.html">
    <div class="page-header">
        <h1>Documentation
            <small>Coming soon!</small>
        </h1>
        <p>Please check back soon or visit
            <a href="https://github.com/BitolaCo/angular-file-data-url">the project page at GitHub</a>.
        </p>
    </div>
</script>
<script src="https://cdn.jsdelivr.net/g/script.js,jquery@2,bootstrap@3.2,angularjs(angular-loader.min.js+angular.min.js+angular-route.min.js)"></script>
<script>
$script(["bower_components/angular-file-data-url/dist/fileDataUrl.js"], function() {
    angular.module("fileDataDemo", ["file-data-url", "ngRoute"])
            .controller("docsCtrl", function ($scope) {

            })
            .controller("demoCtrl", function ($scope, $routeParams) {
                $scope.hide = {
                    image: false,
                    data: false
                };
                $scope.widthSmaller = function() {
                    $scope.image.width = parseInt($scope.image.width);
                    $scope.image.width -= 1;
                };
                $scope.widthLarger = function() {
                    $scope.image.width = parseInt($scope.image.width);
                    $scope.image.width += 1;
                };
                $scope.heightSmaller = function() {
                    $scope.image.height = parseInt($scope.image.height);
                    $scope.image.height -= 1;
                };
                $scope.heightLarger = function() {
                    $scope.image.height = parseInt($scope.image.height);
                    $scope.image.height += 1;
                };
                $scope.higherQuality = function() {
                    $scope.image.quality = parseFloat($scope.image.quality);
                    if ($scope.image.quality < 1) {
                        $scope.image.quality += .01;
                    }
                };
                $scope.lowerQuality = function() {
                    $scope.image.quality = parseFloat($scope.image.quality);
                    if($scope.image.quality > 0) {
                        $scope.image.quality -= .01;
                    }
                };
                $scope.image = {
                    quality: 1.0,
                    height: parseInt($routeParams.height || 500),
                    width: parseInt($routeParams.width || 500),
                    format: "image/" + ($routeParams.format || "jpeg")
                };
                if ($routeParams.quality) {
                    var qual = parseFloat($routeParams.quality);
                    if (! isNaN(qual)) {
                        $scope.image.quality = qual / 100;
                    }
                }
            })
            .config(function ($routeProvider, $locationProvider) {
                $routeProvider
                        .when('/docs', {
                            templateUrl: '/docs.html',
                            controller: 'docsCtrl'
                        })
                        .when('/demo/:format?/:height?/:width?/:quality?', {
                            templateUrl: '/demo.html',
                            controller: 'demoCtrl'
                        })
                        .otherwise({
                            redirectTo: "/demo/jpeg/500/500/100"
                        });
            });

    angular.bootstrap(document, ["fileDataDemo"]);

});

var _paq = _paq || [];
_paq.push(["setDomains", ["*.bitolaco.github.io","*.bitolaco.github.io"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u="//analytics.bitola.co/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//analytics.bitola.co/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
</body>